name: Power Platform CI

on:
  push:
    branches: [main]
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      pp_env: ${{ steps.set-vars.outputs.pp_env }}
      solutions: ${{ steps.set-vars.outputs.solutions }}
    steps:
      - uses: actions/checkout@v4

      - name: Load dev environment variables
        id: set-vars
        run: |
          set -o allexport
          source env/dev.txt
          set +o allexport
          echo "pp_env=$POWER_PLATFORM_URL" >> $GITHUB_OUTPUT
          echo "solutions=$SOLUTION_LIST" >> $GITHUB_OUTPUT

  run-reusable:
    needs: prepare
    uses: Himaan1502/PowerApps-GitHubActions/.github/workflows/powerapps-reusable.yml@main
    with:
      pp_environment: ${{ needs.prepare.outputs.pp_env }}
      solutions: ${{ needs.prepare.outputs.solutions }}
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
